@font-face {
    font-family: 'Poppins';
    src: url(./assets/PoppinsLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Libre Franklin';
    src: url(./assets/LibreFranklinVariableFontwght.ttf) format('truetype');
    font-weight: 1 999;
}

body {
    background-color: #080708;
    background-image: url('./assets/nasaWallpaper.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 200;
}

#mainHeader, #description {
    font-family: 'Poppins';
}

#description {
    background-color: rgb(8, 7, 8, 0.85);
}